---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% assign sorted_posts = (site.posts | sort: 'number' ) %}
    {% for post in sorted_posts reversed %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
      </li>
    {% endfor %}
  </ul>

<!--{% for post in site.posts limit 4 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {{ post.content | strip_html | truncatewords:75}}<br>
            <a href="{{ post.url }}">Read more...</a><br><br>
    {% endfor %}-->

</div>
